.submit-panel {
    width: calc(100% - 140px);
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
}

.submit-box {
    width: 100%;
}

.category-text {
    width: 300px !important;
}

.submit-box div {
    color: #888888;
    margin-bottom: 3px;
}

.row-data-box input[type="text"] {
    width: calc(100% - 18px);
    margin-bottom: 10px;
}

.change-button {
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
    width: calc(100% );
    transition: 0.3s;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666666;
}
.change-button:hover {
    border: 1px solid #1e88e5;
}

.submit-box table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

.submit-box th,
.submit-box td {
    padding: 6px 8px;
    border: 1px solid #dddddd;
    font-size: 12px;
}

.submit-box th {
    color: #888888;
    background-color: #eeeeee;
}

.submit-box input[type="text"] {
    width: calc(100% - 16px);
}