<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/submit.css">
</head>

<body>
    <div class="submit-panel" id="submit">
        <a href="./datalist.html">戻る</a>
        <div class="submit-box">
            <div class="error" v-if="message != null">{{ message }}</div>
            <div>
                <span>| 県:</span>
                <select v-model="odCommon.prefectures" @change="setMunicipality">
                    <option v-for="p in select.prefectures" v-bind:value="p.code">{{ p.name }}</option>
                </select>
                <span v-if="odCommon.prefectures != ''">| 市区町村:</span>
                <select v-if="odCommon.prefectures != ''" v-model="odCommon.municipality">
                    <option v-for="p in select.municipalities" v-bind:value="p.code">{{ p.name }}</option>
                </select>
                <span>| カテゴリ:</span>
                <select v-model="odCommon.category">
                    <option v-for="p in select.categories" v-bind:value="p.code">{{ p.name }}</option>
                </select>
                <span>| カテゴリ(その他):</span>
                <input class="category-text" type="text" v-model="odCommon.categoryElse">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>地域</th>
                        <th>語句</th>
                        <th>値</th>
                        <th>単位</th>
                        <th>URL</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(o, index) in ods">
                        <td><input type="text" v-model="o.district"></td>
                        <td><input type="text" v-model="o.word"></td>
                        <td><input type="text" v-model="o.value"></td>
                        <td><input type="text" v-model="o.unit"></td>
                        <td><input type="text" v-model="o.url"></td>
                        <td><input type="button" value="+" @click="plus(index)"></td>
                        <td><input type="button" value="-" @click="minus(index)"></td>
                    </tr>
            </table>
            <div style="text-align:center;">
                <input type="button" style="margin-top:10px;" value="Add" class="change-button" @click="add">
            </div>
        </div>
    </div>
    <script src="./js/common.bundle.js"></script>
    <script src="./js/submit.bundle.js"></script>
</body>

</html>